<!DOCTYPE html>
<html>
<head>
  <title>New Comment</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/custom.css">
</head>
<body>
  <h1>New Comment</h1>

  <%= form_with(model: [@post, @post.comments.build], url: user_post_comments_path(@post.author, @post)) do |form| %>
    <div class="field">
      <%= form.label :text %>
      <%= form.text_area :text %>
    </div>
    <%= form.submit "Create Comment" %>
  <% end %>
</body>
</html>
